<div class="container">
  <div class="row">
    <div class="col">
      <h3>LogBook</h3>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col">

      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="https://www.tektutorialshub.com/angular-child-routes-nested-routes/" target="_blank">Angular : Child Routes / Nested Routes</a>
        </li>
        <li class="list-group-item">
          <a href="https://stackblitz.com/angular/annnymdoaeg" target="_blank">Angular example - Router</a>
        </li>
        <li class="list-group-item">
          <a href="https://codecraft.tv/courses/angular/routing/nested-routes/" target="_blank">Nested Routes</a>
        </li>
        <li class="list-group-item">
          <a href="https://github.com/Ismaestro/angular5-example-app" target="_blank">Example app with Angular 5 + Angular CLI + Angular Material + Docker + Angular Example Library</a>
        </li>
      </ul>

    </div>
  </div>
</div>